#musclesGained{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
}

#taltext{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}

#plus{
    background-color: aqua;
    position: absolute;
    width: 45%;  height: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
}

#plusEtt{
    background-color:white;
    position: absolute;
    width: 210px;  height: 70px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    font-size: x-large;
}

body{
position: relative;
background-color: tan;
border: 10px solid red;
min-height: 100vh;
}

* {
margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

#Arnold{
    position: absolute;
    width: 45%;  height: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

#bicep{
    position: absolute;
    width: 49px; height: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img{  
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
 }

#store{
    background-color: hotpink;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 13.75%;
    width: 27.5%;
    height: 100%;
}

#cost1{
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: large;
    width: 200px;
    height: 20px;
    text-align: center;
}

#sign{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
}