h3{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 15%;
}
#taltext{
    position: absolute;
    text-align: center;
    font-size: xx-large;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}
#plus{

    background-color: aqua;
    position: absolute;
    width: 45%;  height: 70%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#minus{

background-color: hotpink;
position: absolute;
bottom: 0px;
left: 0px;

}
body{
position: relative;
background-color: tan;
border: 10px solid red;
min-height: 100vh;
}
* {
margin: 0; padding: 0; border: 0; box-sizing: border-box;
}
#Arnold{
    position: absolute;
    width: 100%; height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#bicep{
    position: absolute;
    width: 49px; height: 40px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}